{{ define "main" }}
	<main>
		<article itemscope itemtype="https://schema.org/Product">
			<h2 itemprop="name">{{ .Title }}</h2>
			<dl class="meta" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
				<dt>Price</dt>
					<dd class="price">
						<span itemprop="priceCurrency" content="PHP">₱</span>
						<span itemprop="price">{{ .Params.price }}</span>
					</dd>
				<dt>Availability</dt>
					<dd class="availability">{{ .Params.availability }}</dd>
				<!-- <dt>Condition</dt>
					<dd class="availability">{{ .Params.condition }}</dd> -->
			</dl>
			{{ with (eq .Params.availability "In stock") }}<link itemprop="availability" href="https://schema.org/InStock" />{{ end }}
			{{ with (eq .Params.availability "Preorder") }}<link itemprop="availability" href="https://schema.org/Preorder" />{{ end }}
			<div class="order">
				<a class="order-btn" target="_blank" href="https://m.me/{{ .Site.Params.messengerUsername }}?ref=website">Order here</a>
			</div>
			{{ $title := .Title }}
			{{ with .Params.images }}
				<div class="images">
				{{ range . }}
					<img itemprop="image" alt="{{ $title }}" loading="lazy" src="{{ . }}">
				{{ end }}
				</div>
			{{ end }}
			<div itemprop="description">
				{{ .Content }}
			</div>
			{{ with .Params.tags }}
			<div>
				<ul id="tags">
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
