{{ define "main" }}
	<main>
		<article>
			<h2>{{ .Title }}</h2>
			<dl class="meta">
				<dt>Price</dt>
					<dd class="price">₱ {{ .Params.price }}</dd>
				<dt>Availability</dt>
					<dd class="availability">{{ .Params.availability }}</dd>
				<!-- <dt>Condition</dt>
					<dd class="availability">{{ .Params.condition }}</dd> -->
			</dl>
			<div class="order">
				<a class="order-btn" target="_blank" href="https://m.me/{{ .Site.Params.messengerUsername }}?ref=website">Order here</a>
			</div>
			{{ $title := .Title }}
			{{ with .Params.images }}
				<div class="images">
				{{ range . }}
					<img alt="{{ $title }}" loading="lazy" src="{{ . }}">
				{{ end }}
				</div>
			{{ end }}
			<div>
				{{ .Content }}
			</div>
			{{ with .Params.tags }}
			<div>
				<ul id="tags">
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
