body {
    margin:0;
    padding: 0;
    background: #eee6e4;
    color: #59514f;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif
}
a, a:visited{
    color: #59514f;
}

.logo {
    text-align: center;
    margin: 1.3em 0 1.5em;
}
.logo a{
    color: #59514f;
    text-decoration: none;
    font-size: 2em;
}
.wrapper {
    max-width: 720px;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
main {
    background: #fff;
    padding: 20px;
}
article h2 {
    margin-top: 0;
}
.price, .availability {
    font-weight: bold;
}
.meta {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
.meta dt{
    width: 20%;
    text-align: right;
}
.meta dd {
    margin-left: auto;
    width: 78%;
}
a.order-btn {
    text-decoration: none;
    text-transform: uppercase;
    background: #59514f;
    color: #eee6e4;
    padding: 1em 2em;
    box-sizing: content-box;
    display: inline-block;
}
.order {
    text-align: center;
    margin: 1em 0;
    box-sizing: content-box;
}
.fpproduct{
    text-align: center;
}
.fpproduct h2 {
    margin: 4em 0 1.6em;
}
